* { 
  box-sizing: border-box; 
  padding:0;
  margin:0;  
  } 
  
  
  
  header:not(.basiani){
  background: rgba(0, 0, 128, 0.4);
  color:white;
  font-size:1.8em;
  padding:-4vw;
  margin:0;
  margin-top:4em;
  text-align :center;
  
  }
  
  .basiani{
  background: rgba(0, 0, 128, 0.4);
  color:white;
  font-size:1.8em;
  padding:-4vw;
  margin:0;
  text-align :center;
  margin-bottom:20px;
  }
  
  table{
    margin: 20px 0;
  }
  
  table, th, td {
    border: 2px solid black;
    border-collapse:collapse;
  }
  
  
  #navbar{
    position:fixed;
    max-width:250px;
    width:30vw;
    left:0;
    top:0;
    height:0.5vh;
    background:rgba(255, 255, 255, 0.4);
    height:100vh;
    border-right:5px solid black;
    
    
  }
  
  
  #navbar li{
    max-width:100%;
    font-size:1.5em;
    padding-top:2em;
    border-bottom:4px solid silver;
    z-index:99;
    Opacity:1;
    
  
  }
  
  #navbar li a {
  color:black;
  }
  
  section>ul, ol, section>ol, ol>li, section>ul>li{
    padding-left:20
  
  }
  
  h1,h2,h3,h4,h5,h6{
    padding-bottom:10px;
    text-align :center;
  }
  
  ol{
    padding-top:20px;
  }
  
  
  
  
  
  h1 {
    background:rgba(0, 0, 0, 0.8);
    color:white;
  }
  
  
  
  
  body{
  padding-left:20vw;
  max-width:99%;
  background-image: url('https://github.com/Joloooo/Joloooo.github.io/blob/main/images/square_color_change_blue.png?raw=true');
  background-repeat: no-repeat;
  background-size: cover; /* Adjust as needed */
  background-position: center center; /* Adjust as needed */
  background-attachment: fixed;
  margin-right:0;
  padding-right:0;
  }
  
  
  
  Footer{
  position:absolute;
  left: 0;
  right:1vw;
  background-color:black;
  color:white;
  font-size:1.5em;
  margin-top:25px 
  } 
  
  
  
  
  
  @media (min-width: 500px) and (max-width: 1000px){
  
  *{
    font-size:0.4em;
  }
     
     body{
       width:300px;
       
       
     }
     #navbar{
       width:100px;
       
     }
  }
