
*{
  margin:0;
  padding:10px;
}


  
  
  
  body {   
    background-image:url(johnwho.png); 
    background-size:cover;
    background-repeat no-repeat;
    background-position:center center;
    background-attachment:fixed;
    color:white;
    font-size:1.2em;
    position: center;
    text-align:center;    
    margin:auto;
    } 
  

    .pink{
      background-color:rgba(0,0,0, 40%);            
      }
  
  
  
  footer{
    background-color:rgba(0,0,0, 80%);
    margin-top:2em;
    text-align:center;
    font-size:20px;
  }

  @media (min-width: 375px) and (max-width: 425px){
    *{
      font-size: 0.9rem;
    }
       
       body{
        max-width:15em;
        
         
         
       }       
    }


  @media (min-width: 500px) and (max-width: 1400px){
    
       
       body{
        max-width:30rem;

        *{
          padding:1.5rem;
        }
        
         
         
       }       
    }
